<template>
    <v-container fluid>
        
<h2>O priručniku</h2>
    <p>Priručnik za nastavnike (<b>Moodle 3.7</b>) namijenjen je nastavnicima – korisnicima Sustava za e-učenje Merlin koji održava Centar za e-učenje Sveučilišnoga računskog centra Sveučilišta u Zagrebu. Priručnik na jednostavan i pregledan način pomaže nastavnicima i suradnicima u pregledu i razumijevanju osnova e-učenja i korištenja Sustavom za e-učenje Merlin kroz 18 poglavlja.</p>

<div class="wrapper">
    <p>
        Poglavlje <b>Sustav za e-učenje Merlin</b> ukratko opisuje sam sustav kao i alate koji su u sustavu Merlin dostupni nastavnicima i studentima za uređivanje e-kolegija. Navodi razloge zbog kojih bi nastavnik trebao otvoriti e-kolegij na sustavu Merlin, opisuje postupak prijave u sustav i odjave iz sustava. U ovome poglavlju je još prikazan izgled korisničkoga sučelja sustava Merlin, opisan postupak ažuriranja osobnih podataka korisnika te dostupna pomoć korisnicima.
    </p>
</div>

<p>U poglavlju <b>E-kolegij</b> opisan je način podnošenja zahtjeva za otvaranje e-kolegija na sustavu Merlin, postupak organizacije sadržaja e-kolegija, odabira postojećih e-kolegija kao i arhiviranih e-kolegija iz prethodnih akademskih godina čime se pomaže korisniku pri snalaženju u sustavu. U ovome poglavlju opisan je još i postupak uređivanja postavki e-kolegija, upis korisnika u e-kolegij te objava vijesti putem foruma <b>Obavijesti</b>.

</p> <p>Poglavlje <b>Korisnici</b> e-kolegija opisuje uloge koje je u e-kolegiju moguće dodijeliti pojedinom korisniku kao i ovlasti koje ima pojedina uloga, način izrade grupa u e-kolegiju, upis korisnika u grupe kao i podjela cijeloga e-kolegija ili pojedinih aktivnosti u grupe. Ukratko se opisuje sustav komunikacije u sustavu Merlin putem pojedinačnih ili grupnih poruka.

</p><p>U poglavlju <b>Zajedničke postavke blokova, resursa i aktivnosti</b> opisan je postupak dodavanja blokova, resursa i aktivnosti u e-kolegij, opisana je njihova osnovna namjena te neke od njihovih zajedničkih postavki (alati za uređivanje teksta, mogućnost Povuci i ispusti, ograničenje dostupnosti i administracija datoteka).

</p><p>U poglavlju <b>Blokovi</b> opisana je osnovna namjena blokova, način njihova dodavanja u e-kolegij te su pobrojani i opisani neki od najčešće korištenih blokova u e-kolegijima u sustavu Merlin.

</p><p>U poglavlju <b>Resursi</b> naveden je popis svih dostupnih resursa u sustavu Merlin, njih ukupno 6, te je za svaki pojedini resurs opisan način korištenja u e-kolegiju kao i mogućnost primjene u nastavi.

</p><p>U poglavlju <b>Aktivnosti</b> naveden je popis svih dostupnih aktivnosti u sustavu Merlin, njih ukupno 25, te je za svaku pojedinu aktivnost opisan način korištenja u e-kolegiju, kao i mogućnost primjene u nastavi.

</p><p>Poglavlje <b>Izrada pitanja za testove</b> bavi se izradom i organizacijom online baze pitanja te vrstama pitanja dostupnih u sustavu Merlin kao i njihovim pojedinačnim postavkama.

</p><p>U poglavlju <b>Test</b> opisuje se način izrade testova za provjeru i/ili samoprovjeru znanja, uređivanje testa, ocjenjivanje testa i postupak analize rezultata testa.

</p><p>Poglavlje <b>Ocjene</b> bavi se izračunom ocjena studenata u e-kolegiju, bilo da se radi o pojedinim aktivnostima, grupi aktivnosti ili ukupnoj ocjeni e-kolegija.

</p><p>Poglavlje <b>Ishodi učenja</b> bavi se implementacijom ishoda učenja u sustav Merlin, povezivanjem ishoda s aktivnostima te vrednovanjem ishoda učenja u Ocjenama.

</p><p>Poglavlje <b>Izvještaji</b> opisuje načine pregleda aktivnosti sudionika e-kolegija putem izvještaja o aktivnosti te putem dodatnih izvještaja, dovršenost e-kolegija i dovršenost aktivnosti, u slučajevima kad je u e-kolegiju omogućeno praćenje dovršenosti e-kolegija.

</p><p>U poglavlju <b>Značke</b> opisan je način izrade nove značke, dodjeljivanje znački studentima kao i mogućnost prijenosa znački u druge sustave.

</p><p>Poglavlje <b>Sigurnosna kopija</b> opisuje postupak izrade sigurnosne kopije e-kolegija ili pojedinoga dijela, unos podataka iz sigurnosne kopije (Restore e-kolegija) te kopiranje pojedinih modula iz jednoga e-kolegija u drugi.

</p><p>Poglavlje <b>Povezivanje sustava Merlin i ISVU-a</b> opisuje postupak upisa studenata iz ISVU-a u e-kolegij na sustavu Merlin te upis studenata u grupe iz ISVU-a. U ovom poglavlju opisan je i postupak izvoza ocjena iz e-kolegija u ISVU te pregled ocjena u ISVU-u.

</p><p>Poglavlje <b>Povezivanje sustava Merlin i e-portfolio </b>opisuje način pristupa sustavu e-portfolio iz sustava Merlin te izvoz podataka iz sustava Merlin u e-portfolio.

</p><p>Poglavlje <b>Pristup virtualnoj sobi za webinare kroz sustav za e-učenje Merlin</b> opisuje postupak otvaranja virtualne sobe za webinare unutar e-kolegija u sustavu za e-učenje Merlin. Opisan je i postupak dodjele uloga u sobi za webinare te način snimanja webinara i uređivanja snimke.

</p><p>U poglavlju <b>Prilozi</b> navodi se poveznica na najčešće postavljana pitanja o sustavu Merlin te objašnjenje većine ikona koje se pojavljuju na korisničkome sučelju.
    </p></v-container>
</template>
<script>
export default {
    
}
</script>