<template>
    <v-container fluid>
        <p>
            Postavke e-kolegija određuju se u bloku <b>Administracija</b>:
        </p>
        <p>
            <i>Administracija → Administracija e-kolegija →</i> <b>Uredi postavke</b>.
        </p>
        <img :src="require('@/assets/img/sl30.png')" /><br>
        <i>Blok Administracija</i>
        <br>
        <p>
            Osim u bloku <b>Administracija</b> postavke e-kolegija moguće je urediti odabirom poveznice <b>Uredi postavke</b> iz izbornika za administraciju e-kolegija smještenog u gornjem desnom kutu naslovne stranice e-kolegija. Postavke e-kolegija mogu
            se mijenjati u bilo kojemu trenutku. Polja označena znakom <img :src="require('@/assets/img/sl31.png')" /> i drugom bojom obvezna su.
        </p>
        <p>
            <b>Puni naziv e-kolegija</b> u sustavu Merlin mora biti istovjetan nazivu kolegija u važećemu redu predavanja.
        </p>
        <img :src="require('@/assets/img/sl30.png')" /><br>
        <i>Postavke za uređenje e-kolegija</i>
        <br>
        <p><b>Vidljivo</b> određuje vidljivost e-kolegija studentima.</p>
        <p><b>Vidljivo</b> određuje vidljivost e-kolegija studentima.</p>
        <p></p>
        <p>Ako je e-kolegij postavljen kao nevidljiv, neće se pojaviti na popisu e-kolegija. Korisnici koji nisu upisani u e-kolegij, neće ga vidjeti na popisu niti će se u njega moći upisati dok će upisani nastavnici i studenti i dalje moći pristupiti e-kolegiju.</p>
        <img :src="require('@/assets/img/sl33.png')" /><br>
        <i>Postavke za uređenje oblika e-kolegija</i>
        <p><b>Sažetak</b>daje kratki opis e-kolegija koji koristi studentima da dobiju uvid u sadržaj e-kolegija prilikom pregleda dostupnih e-kolegija te prije samoga upisa.
    
        </p>
        <h2>Oblik e-kolegija</h2>
        <p>
            <ul>
                <li><b>Tematski oblik</b> organizira sadržaj e-kolegija u obliku tema, a svaka tema ima svoj naziv i sažetak.</li>
                <li><b>Tjedni oblik</b> organizira sadržaj e-kolegija po datumima. Nakon određivanja početnoga tjedna, sustav automatski određuje druge.</li>
                <li><b>Samo jedna aktivnost </b>omogućuje uporabu e-kolegija samo za jednu aktivnost, pri čemu se odabirom naziva e-kolegija izravno ulazi u postavljenu aktivnost.</li>
                <li><b>Sažeti prikaz teme</b> organizira sadržaj e-kolegija u obliku sažetih tema koje se mogu smanjiti na sam naslov teme ili proširiti kako bi sadržaj pojedine teme bio vidljiv. Postavljanjem ove teme, u postavkama e-kolegija otvaraju se dodatne
                    postavke za uređivanje naslova sažetih tema.
                </li>
            </ul>
        </p>
        <img :src="require('@/assets/img/sl33.png')" /><br>
        <i>Primjer izgleda sažetoga prikaza teme</i>
        <h2>Praćenje dovršenosti e-kolegija</h2>
        <p>
            Praćenje dovršenosti pojedinih aktivnosti, kao i cijeloga e-kolegija, korisna je studentima i nastavnicima. Nastavnici mogu postavljati kriterije za završetak aktivnosti/resursa i e-kolegija te pratiti napredak svakoga studenta tijekom pohađanja e-kolegija.
            Studentima je omogućeno kontinuirano praćenje vlastitoga napretka samostalnim označavanjem dovršenosti aktivnosti/resursa ili popunjavanjem uvjeta koje je postavio nastavnik gdje sustav označava aktivnost kao završenu.
        </p>
        <p>
            Za omogućavanje praćenja dovršenosti aktivnosti i e-kolegija potrebno je u postavkama e-kolegija mogućnost <b>Omogući praćenje dovršenosti</b> postaviti na <b>Da</b>.
        </p>
        <img :src="require('@/assets/img/sl35.png')" /><br>
        <i>Postavka za omogućavanje praćenja dovršenosti e-kolegija</i>
        <p>Nakon što korisnik u postavkama e-kolegija omogući praćenje dovršenosti, u bloku <b>Administracija</b> postaje dostupna poveznica
            <b>Dovršenost e-kolegija</b>. Odabirom navedene poveznice korisnik postavlja uvjete za dovršenost e-kolegija (više u poglavlju Dovršenost e-kolegija ).
        </p>
        <img :src="require('@/assets/img/sl36.png')" /><br>
        <i>Poveznica Dovršenost e-kolegija</i>
    
    </v-container>
</template>