<template>
    <v-container fluid>
        <p>
E-kolegiji su kolegiji koji koriste mogućnost novih tehnologija za poboljšanje kvalitete izvedbe nastavnog programa i/ili procesa podučavanja i učenja.
 Razlikujemo više oblika ili razina e-kolegija, od onih jednostavnih koji imaju samo nastavne materijale i informacije o kolegiju dostupne na Internetu,
  pa do kompleksnih koji su osmišljeni upravo za internetsko, interaktivno i suradničko okruženje i spajaju nekoliko obrazovnih sastavnica u jedinstven
   studijski kolegij ili program.
        </p>
      
    </v-container>
</template>