<template>
    <v-container fluid>
        <p>Sustav automatski svakome novootvorenom e-kolegiju dodjeljuje aktivnost Obavijesti i upisuje sve korisnike e-kolegija u forum bez mogućnosti ispisa.</p>
    
        <p>Objavljene vijesti studentima se šalju i na adresu e-pošte pa taj forum nastavnici rabe za važne obavijesti studentima, odnosno kao oglasnu ploču.</p>
    
        <p>Obavijesti, naravno, ostaju zapisane i na samome forumu.</p>
        <img :src="require('@/assets/img/sl37.png')" /><br>
        <i>Forum Obavijesti u uvodnoj temi</i>
        <p>
            Forum <b>Obavijesti</b> može se premjestiti u željenu temu/tjedan, a izbrisati jedino tako da se u postavkama e-kolegija broj vijesti koje treba objaviti postavi na nulu te se izbriše blok <b>Nove obavijesti</b>.
        </p>
        <p>
            Kao i svim forumima i ovome se forumu može promijeniti naziv.
        </p>
        <p>
            Vijesti napisane u forumu <b>Obavijesti</b> bit će objavljene u bloku <b>Nove obavijesti</b>. Za upis nove vijesti potrebno je izabrati poveznicu <b>Dodaj novu temu</b> te upisati naslov i tekst poruke, a uz poruku se, kao privitak, može poslati
            i datoteka.
        </p>
        <p>
            U bloku <b>Nove obavijesti</b> prikazuje se do deset obavijesti, ovisno o postavkama e-kolegija.
        </p>
        <img :src="require('@/assets/img/sl38.png')" /><br>
        <i>Blok Nove obavijesti</i>
    
    
    
    </v-container>
</template>