
<template>
    <v-container fluid>
        <p>
Središnji dio sučelja prikazuje organizaciju e-kolegija po temama odnosno po tjednima.
        </p>
        <p>
Unutar teme ili tjedna nastavnik izradom resursa i aktivnosti postavlja nastavni sadržaj e-kolegija.
        </p>
        <p>
<b>Resursi</b> su radni materijali za e-kolegij koje sudionici mogu čitati i pratiti, kao na primjer, tekstni dokument, poveznice ili multimedijalne datoteke. Te materijale sudionici mogu gledati, ali bez interakcije.
        </p>
        <p>
<b>Aktivnosti</b> se od resursa razlikuju po tome što se preko njih može ostvariti interakcija nastavnika sa sudionicima te između sudionika.
        </p>
        <p>
        <img :src="require('@/assets/img/sl13.png')"/><br>
        <i>Omogućavanje izmjena</i>
        </p>
        <p>
Da bi se u e-kolegiju omogućilo uređivanje pojedine teme, dodavanje resursa, aktivnosti te blokova,
 potrebno je odabrati gumb <b>Omogući izmjene</b> ili iz izbornika za administraciju e-kolegija odabrati poveznicu <b>Omogući izmjene</b>.
        </p>
        <p>
        <img :src="require('@/assets/img/sl14.png')"/><br>
        <i>Prikaz preko cijelog zaslona</i></p>
        <p>
Za prikaz svih tema e-kolegija preko cijeloga zaslona, bez prikaza blokova s lijeve i desne strane sučelja,
 koristi se gumb <b>Puni zaslon</b>. Ova je mogućnost dostupna svakome korisniku pa tako i studentu te ne utječe na druge korisnike na sustavu.
        </p>
        <p>
 koristi se gumb <b>Puni zaslon</b>. Ova je mogućnost dostupna svakome korisniku pa tako i studentu te ne utječe na druge korisnike na sustavu.

        </p>
        <p>
Resursi i aktivnosti dodaju se izborom poveznice koja se nalazi u pojedinoj temi/tjednu te odabirom željenoga resursa ili aktivnosti iz popisa.
        </p>
        <p>
        <img :src="require('@/assets/img/sl15.png')"/><br>
        <i>Dodavanje aktivnosti ili resursa</i>
        </p>
        <p>
Navigacija kroz nastavni sadržaj u e-kolegiju nakon pristupa pojedinoj aktivnosti/resursu moguća je putem poveznica na prethodnu i sljedeću aktivnost/resurs ili odabirom željene aktivnosti/resursa iz padajućeg izbornika smještenog u podnožju sadržaja svake pojedine aktivnosti/resursa.  
        </p>
        <p>
Pored svakoga dijela sučelja ili pojedinoga modula nalaze se ikone. Neke su od najčešćih ikona prikazane u tablici:
        </p>
        <p>
<table>
    <tr>
    <th>Ikona</th>
    <th>Opis</th>
    </tr>
    <tr>
        <td><img :src="require('@/assets/img/sl16.png')"/></td>
        <td>Određivanje grupa</td>
    </tr>
    <tr>
        <td><img :src="require('@/assets/img/sl17.png')"/></td>
        <td>Uređivanje postavki</td>
    </tr>
    <tr>
        <td><img :src="require('@/assets/img/sl18.png')"/> / <img :src="require('@/assets/img/sl19.png')"/></td>
        <td>Vidljivo / skriveno</td>
    </tr>
    <tr>
        <td><img :src="require('@/assets/img/sl20.png')"/></td>
        <td>Premještanje</td>
    </tr>
    <tr>
        <td><img :src="require('@/assets/img/sl21.png')"/> / <img :src="require('@/assets/img/sl22.png')"/></td>
        <td>Pomak lijevo, desno</td>
    </tr>
    <tr>
        <td><img :src="require('@/assets/img/sl23.png')"/></td>
        <td>Brisanje</td>
    </tr>
    <tr>
        <td><img :src="require('@/assets/img/sl24.png')"/></td>
        <td>Preimenovanje</td>
    </tr>
    <tr>
        <td><img :src="require('@/assets/img/sl24.png')"/></td>
        <td>Izrada kopije</td>
    </tr>
 </table>
 <p>
        <img :src="require('@/assets/img/sl26.png')"/><br>
        <i>Prikaz istaknute teme e-kolegija </i></p>
        <p>
Radi lakšega pregleda, pojedina tema može se privremeno skriti odabirom znaka <img :src="require('@/assets/img/sl18.png')"/> , 
istaknuti odabirom znaka <img :src="require('@/assets/img/sl27.png')"/>  ili izbrisati odabirom znaka <img :src="require('@/assets/img/sl23.png')"/>. Mogućnosti za uređivanje, isticanje, 
sakrivanje, premještanje i brisanje teme smještene su unutar padajućega izbornika <b>Uredi</b>.
    
        </p>
        <p>
Odabirom ikone <img :src="require('@/assets/img/sl24.png')"/> (Uredi naziv teme) moguće je jednostavno i brzo izmijeniti naziv teme. Izmjenu naziva potrebno je potvrditi pritiskom na tipku Enter.
    
        </p>
        <p>
Prilikom brisanja cijele teme brišu se i resursi i aktivnosti unutar te teme, te svi korisnički podaci vezani uz tu temu (npr. ocjene, poruke u forumu itd.).
    
        </p>
        <p>

Prilikom brisanja cijele teme brišu se i resursi i aktivnosti unutar te teme, te svi korisnički podaci vezani uz tu temu (npr. ocjene, poruke u forumu itd.).
    
        </p>
        <p>

U postavkama e-kolegija može se odrediti da se prikazuju sve teme odjednom ili jedna po stranici.    
        </p>
        <p>

  Ako nastavnik želi provjeriti kako ostali sudionici vide e-kolegij, to može napraviti na način da iz korisničkog
   izbornika osobnog profila odabere poveznicu <b>Promijeni ulogu u</b> te potom odabere željenu ulogu (student ili neku drugu ulogu).  
        </p>
        <p>

    Ako su neki resursi/aktivnosti ili tema skriveni za korisnike, mogu biti prikazani u minimalnome obliku (samo naslov) ili potpuno skriveni. Ta se mogućnost određuje u postavkama e-kolegija u bloku <b>Administracija</b>.
        </p>

       
            <h2>Pretraživanje sadržaja e-kolegija</h2>
            
            <p>
Pretraživanje omogućava svim korisnicima pretraživanje sadržaja svih e-kolegija kojima imaju pravo pristupa, kao i e-kolegija u koje nisu upisani, ali su im vidljivi (npr. e-kolegiji dostupni gostima i korisnicima s odgovarajućim ovlastima) te sadržaja HTML blokova.  
            </p>
            <p>
Korisnici mogu pretraživati sav sadržaj izrađen kroz sustav Merlin kao što su osnovne informacije u e-kolegiju, sadržaj pojedinih resursa i aktivnosti, poruke u forumu, poglavlja knjige, pojmove u rječniku ili suradničke wiki stranice, ali i vanjske datoteke (.doc, .pdf i sl.).
            </p>
            <p>
Traženi pojam upisuje se u okvir za pretraživanje smješten na traci s izbornicima. Nastavnik može dodati i blok <b>Pretraživanje</b> koji ima funkcionalnost pretraživanja sadržaja.
            </p>
            <p>Moguće je i napredno pretraživanje korištenjem različitih filtera i uvjeta pretraživanja.</p>
        <p>
Skrivene aktivnosti omogućavaju nastavniku skrivanje pojedine aktivnosti ili resursa na naslovnici e-kolegija te njihovo istovremeno postavljanje dostupnima putem izrađenih poveznica unutar neke druge aktivnosti ili resursa. Ako e-kolegij sadrži poveći broj nastavnog materijala na ovaj se način može postići bolja preglednost naslovnice e-kolegija.
        </p>
        <p>
         Aktivnost ili resurs mogu se postaviti skrivenim unutar bilo koje teme na naslovnici e-kolegija.   
        </p>
        <img :src="require('@/assets/img/sl28.png')"/><br>
        <i>Postavljanje aktivnosti <b>Test</b> dostupnim studentima</i>

        <p>
            Primjer skrivanja aktivnosti <b>Test</b> te postavljanja dostupnim studentima:
        </p>
  
            <ol>
                <li>u primjeru na slici izrađene su tri aktivnosti <b>Test</b> (Test 1, Test 2, Test 3)</li>
                <li>testovi su potom skriveni od studenata odabirom mogućnosti <b>Skrij</b> iz izbornika <b>Uredi</b></li>
                <li>nakon što su testovi na naslovnici e-kolegija skriveni od studenata, postavljeni su dostupnima odabirom mogućnosti
                     <b>Postavi dostupnim</b> iz izbornika <b>Uredi</b>.</li>
                <li>zatim je izrađen resurs <b>Stranica</b> (Popis testova dostupnih za samoprovjeru znanja) unutar koje su postavljene poveznice na izrađene testove.</li>
            </ol>
       <img :src="require('@/assets/img/sl29.png')"/><br>
        <i>Izrađene poveznice na testove unutar resursa <b>Stranica</b></i>
        <br>
            <br>
        <p>
            Studenti izrađene testove ne vide na naslovnici e-kolegija već im pristupaju putem poveznica izrađenih unutar resursa <b>Stranica</b>.
        </p>
        <p>
            Ova mogućnost podržana je u tjednom i tematskom obliku e-kolegija..

        </p>
    </v-container>
</template>
<style>
    td {
        border:1px solid black
    }
</style>