<template>
    <v-container fluid>
        <p>Datoteke u sustavu Merlin mogu se spremati u <b>osobne</b> ili <b>poslužiteljske datoteke</b>.</p>
        <h2>Osobne datoteke</h2>
        <p><b>Osobne datoteke</b> vidljive su samo vlasniku (nastavniku ili studentu), a nastavnici mogu pojedine osobne datoteke učiniti dostupnima i polaznicima svojih e-kolegija.</p>
        <p>I studenti i nastavnici imaju prostor za pohranu osobnih datoteka i on je ograničen na 100 MB, a poruka koja im se prikazuje iznad prostora za pohranu informira ih o trenutnom zauzeću prostora.</p>
        <img :src="require('@/assets/img/sl65.png')" /><br>
        <i>Sučelje za pohranu osobnih datoteka</i>
        <p>
            Za uređivanje osobnih datoteka potrebno je odabrati poveznicu <b>Osobne datoteke</b> u navigacijskom izborniku s lijeve strane sučelja.</p>
        <img :src="require('@/assets/img/sl66.png')" /><br>
        <i>Sučelje za rad s datotekama</i>
        <p>Kroz ovo sučelje moguće je postavljanje datoteka u sustav i pristup repozitorijima odabirom ikone
            <img :src="require('@/assets/img/sl67.png')" /> <b>(Dodaj datoteku)</b>, organiziranje datoteka u mape odabirom mogućnosti <b>Izradi mapu</b> te je moguće preuzeti sve osobne datoteke iz sustava (<b>Preuzmi sve</b>) u jednoj .zip datoteci.</p>
        <p>Način prikaza datoteka može se promijeniti odabirom ikone za željeni načina prikaza:
            <img :src="require('@/assets/img/sl68.png')" />(ikone),
            <img :src="require('@/assets/img/sl69.png')" /> (popis),
            <img :src="require('@/assets/img/sl70.png')" /> (popis s hijerarhijskom strukturom). </p>
        <p>Mogućnosti vezane uz svaku datoteku i mapu u sustavu mogu se vidjeti odabirom datoteke ili ikone <img :src="require('@/assets/img/sl71.png')" /> u donjemu desnom kutu mape.</p>
        <p>Svakoj se datoteci ili mapi u postavkama može promijeniti naziv, navesti autor i odabrati neka od ponuđenih licenci.
        ili ikone <img :src="require('@/assets/img/sl71.png')" /> u donjemu desnom kutu mape.</p>
        <h2>Poslužiteljske datoteke</h2>
        <p><b>Poslužiteljskim datotekama</b> za pojedini e-kolegij mogu pristupiti svi nastavnici na tom e-kolegiju
             te nema ograničenja prostora. Pri uporabi datoteka iz repozitorija ili poslužiteljskih datoteka moguće 
             je izraditi kopiju datoteke ili alias/poveznicu na odabranu datoteku. Za spremanje datoteka u Poslužiteljske
              datoteke koriste se resursi <b>Datoteka</b> i <b>Mapa</b> ili mogućnost <b>Povuci i ispusti</b> (<i>Drag&Drop</i>).</p>
        <img :src="require('@/assets/img/sl72.png')" /><br>
        <i>Sučelje za odabir datoteke i pristup repozitorijima</i>
       
    </v-container>
</template>