<template>
    <v-container fluid>
        <p>
            Svi resursi i aktivnosti sadrže uređivač teksta. Na sustavu za e-učenje SUMoodle zadani uređivač teksta je <b>TinyMCE HTML
                 uređivač</b>.
        </p>
        <p>Zadani uređivač teksta moguće je promijeniti odabirom poveznice <i>Postavke → Postavke uređivača teksta</i> → <b>Uređivač
                 teksta</b> iz padajućeg izbornika osobnoga profila smještenoga u gornjemu desnom kutu zaslona.</p>
        <h2>TinyMCE HTML uređivač teksta</h2>
        <img :src="require('@/assets/img/sl60.png')" /><br>
        <i>TinyMCE HTML uređivač teksta</i>
        <p>Alati dostupni u uređivaču teksta na sustavu za e-učenje Merlin oponašaju izgled i funkcionalnost često korištenih programa za obradu teksta (kao npr. MS Word), dok je nekolicina alata drugačije označena i ima određene specifičnosti.</p>
    
        <img :src="require('@/assets/img/sl61.png')" /> <b>Umetanje slike</b>
        <p>Moguće je dodati sliku koja postoji u sustavu bez obzira nalazi li se već u datotekama postavljenima u e-kolegij, osobnim datotekama ili ih se prenosi s računala.
    
        </p>
        <p>Moguće je odrediti veličinu slike, njezin položaj i uključiti mogućnost prikaza slike kao minijature (thumbnail).</p>
        <img :src="require('@/assets/img/sl62.png')" /><b>Uklanjanje oblikovanja</b>
        <p>Prilikom kopiranja teksta iz nekoga drugoga sustava (programa) potrebno je ukloniti sva oblikovanja. To se može napraviti uporabom alata dostupnih u uređivaču teksta ili tako da se tekst prvo prebaci u program Notepad, a tek potom u sustav Merlin, gdje se može naknadno oblikovati kako bi se izbjegle pogreške prilikom njegova prikaza.</p>
        <img :src="require('@/assets/img/sl64.png')" /><b>Prikaz HTML-kôda</b>
        <p>Korisnici koji poznaju HTML-jezik kod eventualnih pogrešaka u prikazu teksta ili kod dodatnoga oblikovanja odabirom te ikone mogu vidjeti HTML-kôd unesenoga sadržaja te ga mijenjati.</p>
        <img :src="require('@/assets/img/sl63.png')" /><b>Umetanje multimedije</b>
        <p>Za ubacivanje multimedijalnih sadržaja sa servisa YouTube, iz repozitorija ili datoteka može se koristiti ikona za <b>Umetanje multimedije</b>.</p>
        <p>Odabirom te ikone a zatim poveznice <b>Pronađi ili postavi sliku, video ili applet…</b> otvara se sučelje za pristup datotekama u repozitorijima, pretraživanju servisa YouTube i repozitoriju slika Wikimedia.</p>
    </v-container>
</template>