<template>
    <v-container fluid>
        <p>Datoteke se u sustav mogu postaviti uporabom mogućnosti Povuci i ispusti (Drag&Drop),
             tj. izravnim povlačenjem datoteke u sučelje e-kolegija s omogućenim izmjenama.</p>
             <img :src="require('@/assets/img/sl73.png')" /><br>
             <i>Uporaba mogućnosti Povuci i ispust za datoteke</i>
             <p>U slučaju da se u e-kolegij želi postaviti više datoteka odjednom, postupak je ovakav:</p>
             <ul>
                 <li>mapa s datotekama spremi se kao .zip datoteka</li>
                 <li>u željenome e-kolegiju omoguće se izmjene</li>
                 <li>datoteka se povuče u željenu temu/tjedan</li>
                 <li>u izborniku se odabere mogućnost <b>Otpakirati datoteke i izraditi mapu</b> čime je mapa otpakirana i dostupna korisnicima e-kolegija.</li>
             </ul>
             <img :src="require('@/assets/img/sl74.png')" /><br>
             <i>Uporaba mogućnosti Povuci i ispusti za .zip datoteku</i>
             <p>Metodom <b>Povuci i ispusti</b> (<i>Drag&Drop</i>) moguće je postaviti audio i video dateteku u sučelje e-kolegija.
                  Nastavnik pri tome može odabrati želi li da se
                  datoteka prikazuje na naslovnici e-kolegija ili da se izradi poveznica na datoteku.</p>
                  <img :src="require('@/assets/img/sl75.png')" /><br>
             <i>Uporaba mogućnosti Povuci i ispusti za video datoteku</i>
    </v-container>
</template>