<template>
    <v-container fluid>
        <p>U postavkama svih resursa/aktivnosti u sekciji <b>Ograniči dostupnost</b> moguće je studentima ograničiti dostupnost pojedinoga resursa/aktivnosti dok se ne ispune određeni uvjeti.</p>
        <img :src="require('@/assets/img/sl76.png')" /><br>
        <i>Sekcija Ograniči dostupnost</i>
        <p>Dostupnost je moguće ograničiti temeljem dovršenosti pojedine aktivnosti, po datumu, po ocjeni, po grupi, grupaciji, korisničkome profilu ili kombinacijom više ograničenja.</p>
        <img :src="require('@/assets/img/sl77.png')" /><br>
        <i>Sučelje za dodavanje ograničenja</i>
        <p><b>Aktivnost završena</b> – od studenta se zahtijeva da prije nego što im postane dostupan
             resurs/aktivnost pregleda ili završi resurs/aktivnost prema postavljenim kriterijima.</p>
        <p><b>E-kolegij dovršen</b> – od studenta se zahtijeva da prije nego što im postane dostupan resurs/aktivnost dovrše zadani e-kolegij.</p>
        <p><b>Datum</b> – student mora/ne smije pristupiti resursu/aktivnosti od ili do odabranoga datuma i vremena.</p>
        <p><b>Ocjena</b> – od studenta se zahtijeva dobivanje ocjene ili određeni ostvareni postotak iz pojedine aktivnosti kako bi mu postao dostupan resurs/aktivnost</p>
        <p><b>Grupa</b> – pristup resursu/aktivnosti dopušta se samo studentima koji su upisani/nisu upisani u određenu grupu.</p>
        <p><b>Grupacija</b> – pristup resursu/aktivnosti dopušta se samo studentima koji su upisani/nisu upisani u grupu određene grupacije.</p>
        <p><b>Korisnički profil</b> – moguće je kontrolirati pristup resursu/aktivnosti prema pojedinim poljima unutar korisničkoga profila studenta (npr. ime, prezime, OIB, adresa e-pošte, ID broj, itd).</p>
        <p><b>Skup ograničenja</b> – omogućava dodavanje više ograničenja gdje student mora/ne smije ispuniti sve/bilo koji od ograničenja.</p>
        <img :src="require('@/assets/img/sl78.png')" /><br>
        <i>Primjer dodavanja skupa ograničenja</i>
        <p>U postavkama aktivnosti/resursa, pokraj svakoga ograničenja ili skupa ograničenja moguće je odabirom ikone oka
              <img :src="require('@/assets/img/sl18.png')" />(Skrivanje) onemogućiti da se na naslovnici e-kolegija studentima ispod aktivnosti/resursa prikazuju postavljena ograničenja.
               Skrivanjem ograničenja studenti koji ne ispunjavaju uvjete neće ni znati da postoji 
            resurs/aktivnost, u suprotnom će vidjeti naziv resursa/aktivnosti i postavljene uvjete za pristup.</p>
            <img :src="require('@/assets/img/sl79.png')" />
            <i>Primjer prikaza ograničenja na naslovnici e-kolegija</i>
    </v-container>
</template>