<template>
    <v-container fluid>
        <p>
            Kako bi bilo omogućeno uređivanje sadržaja e-kolegija, dodavanje novih te uređivanje postojećih blokova, resursa ili aktivnosti potrebno je odabrati dugme <b>Omogući izmjene</b> u gornjemu desnome kutu sučelja ili istoimenu poveznicu iz bloka
            <i>Administracija</i> → <b>Administracija e-kolegija</b>.
        </p>
        <h2>Blokovi</h2>
        <p>
            <b>Blokovi</b> su dijelovi sučelja koji služe za organizaciju e-kolegija ili prikaz sadržaja, a postavljaju se u lijevi stupac.</p>
    
        <p>Popis najčešće korištenih blokova u e-kolegijima na sustavu SUMoodle:
        </p>
        <img :src="require('@/assets/img/sl51.png')" /><br>
        <p>Blokovi se dodaju odabirom poveznice <b>Dodaj blok</b> iz navigacijskog izbornika s lijeve strance sučelja, koja postaje dostupna nakon što se u e-kolegiju omoguće izmjene.</p>
        <img :src="require('@/assets/img/sl52.png')" /><br>
        <i>Dodavanje bloka</i><br>
        <p>Više u poglavlju Blokovi</p>
        <h2>Resursi</h2>
        <p><b>Resursi</b> su nastavni materijali za e-kolegij (kao npr. tekstni dokument, poveznice ili multimedijske datoteke) koje studenti mogu čitati, pregledavati, pohraniti na svoje računalo, otisnuti, ali bez daljnje interakcije s drugim studentima ili
            nastavnikom (u online okruženju).</p>
    
        <p>Naziv pojedinoga resursa prikazuje se kao poveznica u temi/tjednu u kojemu je napravljen, osim resursa <b>Oznaka</b>, koji se ne prikazuje kao poveznica već je odmah vidljiv na naslovnici e-kolegija.</p>
    
        <p>Popis dostupnih resursa u sustavu SUMoodle:</p>
        <img :src="require('@/assets/img/sl53.png')" /><br>
        <p>Više u poglavlju Resursi</p>
        <h2>Aktivnosti</h2>
        <p>Aktivnosti se od resursa razlikuju po tome što se preko njih može ostvariti interakcija nastavnika sa studentima te među studentima. Za razliku od resursa putem aktivnosti moguće je ocjenjivanje rada studenata.</p>
    
        <p>Popis dostupnih aktivnosti u sustavu SUMoodle:</p>
        <img :src="require('@/assets/img/sl54.png')" /><br>
        <p>Više u poglavlju Aktivnosti</p>
        <p>
            Resursi i aktivnosti dodaju se odabirom poveznice <b>Dodaj aktivnost ili resurs</b> te odabirom željene vrste resursa ili aktivnosti iz ponuđenog izbornika, unutar svake teme e-kolegija.
        </p>
        <img :src="require('@/assets/img/sl55.png')" /><br>
        <i>Poveznica za dodavanje aktivnosti ili resursa</i><br>
        <p>
            Nakon odabira pojedine aktivnosti ili resursa iz ponuđenog izbornika, s desne strane izbornika prikazuje se njihov kraći opis i navodi primjer moguće primjene. Lijevo od naziva svih aktivnosti i resursa nalazi se ikona zvjezdice i odabirom navedene ikone
            željenu aktivnost ili resurs moguće je postaviti u kategoriju <b>Favoriti</b>. Preporuka je u favorite postaviti one aktivnosti ili resurse koje korisnik najčešće koristi prilikom uređivanja sadržaja e-kolegija. Kategorija <b>Favoriti</b>        smjestit će se na vrh izbornika, a aktivnosti ili resursi koje korisnik doda u favorite bit će poredani po abecedi. Odabirom ikone zvjezdice aktivnost ili resurs se uklanja iz kategorije <b>Favoriti</b>.
        </p>
        <img :src="require('@/assets/img/sl56.png')" /><br>
        <i>Izbornik za dodavanje aktivnosti ili resursa</i>
        <p>Kada su u e-kolegiju omogućene izmjene, pored naziva svake aktivnosti/resursa te svakoga dijela sučelja nalazi se padajući izbornik <b>Uredi</b> koji sadrži naredbe koje omogućavaju izmjene ili uređivanje aktivnosti/resursa ili dijelova sučelja. Pored
            kopiranih stavki u zagradi se automatski ispisuje riječ (kopija) čime ih je lakše razlikovati od originala.</p>
        <img :src="require('@/assets/img/sl57.png')" /><br>
        <i>Izbornik Uredi</i> <br>
        <img :src="require('@/assets/img/sl58.png')" /><br>
        <i>Kopirana stavka</i> <br>
        <p>Nakon odabira pojedine aktivnosti/resursa postavke istih moguće je izmijeniti i odabirom poveznice <b>Uredi
             postavke</b> u bloku <b>Administracija</b> ili odabirom istoimene poveznice iz izbornika za administraciju smještenog
              u gornjem desnom kutu kod pojedinih aktivnosti/resursa.</p>
        <img :src="require('@/assets/img/sl59.png')" /><br>
        <i>Prva tema e-kolegija</i> <br>
        <p>Primjer pokazuje prvu temu jednoga e-kolegija.</p>
        <p>Ispod naslova teme prikazan je sažetak teme oblikovan kao ćelija tablice u kojoj su napisani
             ishodi učenja za navedenu cjelinu. Osim sažetka vidljivi su resursi i aktivnosti rabljeni za tu temu:</p>
             <ul>
                 <li>Poveznica (O Nikoli Tesli u Sveučilišnoj knjižnici Rijeka)</li>
                 <li>Knjiga (Knjiga o Nikoli Tesli)</li>
                 <li>Rječnik (Teslini izumi)</li>
                 <li>Zadaća (Seminarski rad).</li>
             </ul>
    </v-container>
</template>