<template>
    <v-container fluid>
        <p>U ovom poglavlju opisan je postupak dodavanja blokova, resursa i aktivnosti u e-kolegij, opisana je njihova osnovna namjena te neke od njihovih zajedničkih postavki (alati za uređivanje teksta, mogućnost Povuci i ispusti, ograničenje dostupnosti i administracija datoteka).</p>
    </v-container>
</template>