.menu {
    text-decoration: none;
    
}
td {
        text-align: center;
        padding: 4px;
        vertical-align: middle
    }
table {
        border-collapse: collapse
    }
.glavno {
    padding: 0px 80px 0px 256px !important;
    text-align: justify
}

