<template>
    <v-container fluid>
        <p>
            Nakon prijave u sustav osobni profil može se pregledati
             i uređivati odabirom imena prijavljenoga korisnika u gornjemu desnom kutu i poveznice <b>Profil → Promijeni osobne podatke.</b>
        </p>
        <img :src="require('@/assets/img/sl11.png')"/><br>
        <i>Korisnički izbornik</i>
        <p>
U korisničkom izborniku osobnog profila korisnik može pristupiti svojem profilu, pregledati ocjene, arhivu poruka te urediti postavke. Nastavnicima je dostupna i mogućnost promjene uloge da bi mogli provjeriti kako sudionici s odabranom ulogom vide e-kolegij. 
        </p>
        <img :src="require('@/assets/img/sl12.png')"/><br>
        <i>Osobni profil</i>
        <p>
          Podaci u profilu mogu se promijeniti odabirom mogućnosti <b>Promijeni osobne podatke</b> u korisničkom izborniku.  
        </p>
        <p>
          Korisnik po želji može dodati sliku koja će se prikazivati uz korisničko ime, adresu e-pošte, adresu vlastite internetske stranice i kratak tekst o sebi. 
        </p>
        <p>
          Među ostalim podacima u profilu vidljiv je i popis e-kolegija u koje je korisnik upisan. Odabirom naziva e-kolegija prikazuju se uloge i grupe u koje je korisnik upisan u odabranom e-kolegiju.  
        </p>
        <p>
          Korisniku je dostupan i pregled ocjena. Odabirom poveznice <b>Pregled ocjena</b> prikazuje se popis e-kolegija u kojima korisnik ima ulogu nastavnika
           i e-kolegija u kojima ima ulogu polaznika.
           Odabirom naziva pojedinoga e-kolegija, korisnik izravno pristupa modulu <b>Ocjene</b> u odabranome e-kolegiju.  
        </p>
    </v-container>
</template>