<template>
    <v-container fluid>
        
        <p>
            Sustavu SUMoodle pristupa se na web adresi: <a href="https://www.eucenje.sum.ba/moodle">https://www.eucenje.sum.ba/moodle</a>.
             Uporaba sustava SUMoodle moguća je nakon prijave putem elektroničkog identiteta u sustavu AAI@SUM.
        </p>
        <p>
            Elektronički identitet u sustavu AAI@SUM ima oblik korisnicko.ime@sum.ba. Na primjer: ttomic@sum.ba.
             Za dodjelu elektroničkih identiteta u sustavu AAI@SUM zadužene su kontakt-osobe za otvaranje elektroničkih identiteta u pojedinoj 
            matičnoj ustanovi.
        </p>
        <img :src="require('@/assets/img/sl1.png')"/>
        <p>
U sustav SUMoodle prijavljuje se odabirom gumba <b>Prijava putem AAI@SUM</b> nakon čega se otvara prozor za upis korisničkoga imena i lozinke.
        </p>
        <img :src="require('@/assets/img/sl2.png')"/>
        <p>
Nakon uspješne prijave korisnik ima pristup vlastitoj početnoj stranici i upisanim e-kolegijima.
        </p>
    <p>
Kako je isključivo ustanova odgovorna za elektroničke identitete svojih nastavnika i studenata, u slučaju problema
 s lozinkom ili neispravnim podacima, potrebno je obratiti se osobama na ustanovi koje su ovlaštene za otvaranje elektroničkih identiteta.
    </p>
    <h2>
Odjava iz sustava SUMoodle i AAI@SUM infrastrukture
    </h2>
    <p>
U gornjemu desnom kutu vidljivo je pod kojim korisničkim imenom je korisnik prijavljen u sustav.
    </p>
    <img :src="require('@/assets/img/sl3.png')"/>
    <p>
Pored imena korisnika dostupan je padajući izbornik kroz koji su moguće brojne aktivnosti vezane uz korisnika. Jedna od njih je i odjava iz sustava.
    </p>
    <p>
Prilikom odjave iz sustava SUMoodle vrši se odjava samo iz sustava SUMoodle, ali ne i iz infrastrukture AAI@SUM. Za odjavu iz AAI@SUM
 infrastrukture potrebno je odabrati gumb <b>Nastavi</b>.
 Za prijavu s drugim korisničkim podacima u istome pregledniku potrebno je ugasiti sve otvorene prozore preglednika i ponovno ga pokrenuti.
    </p>
    <h2>
        Sesije
    </h2>
    <p>
Za svakoga korisnika prilikom njegove prijave u sustav SUMoodle, bilježi se kada je pristupio sustavu i s koje IP adrese.
 U slučaju da se korisnik prilikom odlaska iz sustava 
nije pravilno odjavio (odabirom opcije <b>Odjava</b>) nego samo ugasio preglednik, odjava iz sustava može se učiniti i na drugome računalu, mobitelu ili tabletu.
    </p>
    <p>
Za pregled sesija potrebno je odabrati padajući izbornik osobnoga profila u gornjemu desnom kutu te opciju <b>Profil</b>.
    </p>
    <img :src="require('@/assets/img/sl4.png')"/>
    <p>
Odabirom poveznice <b>Sesije</b> sustav prikazuje sve aktivne sesije toga dana.
 Pokraj IP adrese s koje korisnik nije pravilno odjavljen prikazuje se poveznica <b>Odjava</b>.
  Odabirom te poveznice korisnik se ujedno i odjavljuje s te IP adrese.
    </p>
    </v-container>
</template>