<template>
    <v-container fluid>
    
    <p>
Izgled korisničkoga sučelja sličan je u cijelome sustavu i sastoji se od dva stupca. Lijevi stupac sadrži blokove, a u središnjem dijelu prikazan je sadržaj e-kolegija organiziran kroz teme ili tjedne.
    </p>
    <img :src="require('@/assets/img/sl5.png')"/>
    <p>
        <ol>
            <li>Zaglavlje</li>
            <li>Navigacijski izbornik</li>
            <li>Traka s izbornicima</li>
            <li>Izbornik za administraciju e-kolegija</li>
            <li>Navigacijska traka</li>
            <li>Blok</li>
            <li>Lijevi stupac</li>
            <li>Središnji dio</li>
        </ol>
    </p>
    <h2>Traka s izbornicima</h2>
    <img :src="require('@/assets/img/sl6.png')"/>
    <p>
        Na traci s izbornicima smješteni su sljedeći padajući izbornici:
    </p>
    <p>
        <ul>
            <li><b>Rad na sustavu</b> – sadrži poveznice na priručnike i animacije, zahtjev za otvaranje e-kolegija, poveznice na tečajeve i radionice, arhivu e-kolegija itd.</li>
            <li><b>Helpdesk</b> – sadrži kontakt podatke Centra za e-učenje i poveznicu na najčešće postavljena pitanja.</li>
            <li><b>Moji e-kolegiji</b> – sadrži popis e-kolegija u koje je korisnik upisan.</li>
            <li><b>Sadržaj</b> – sadrži poveznicu na popis sudionika u e-kolegiju, ocjene te aktivnosti i resurse u e-kolegiju.</li>
        </ul>
    </p>
    <p>
        Na traci je smješten i navigacijski izbornik koji sadrži poveznice Moja naslovnica,
         Kalendar, Osobne datoteke i Svi e-kolegiji, a nakon odabira pojedinog e-kolegija proširuje se dodatnim poveznicama 
         (Sudionici, Značke, Ocjene i Virtualna soba za webinare). Osim navedenih izbornika na traci su još smještene ikona za pretraživanje,
         ikona za pristup pretincu s porukama, ikona obavijesti, ikona za promjenu jezika sučelja te korisnički izbornik osobnoga profila.
    </p>
    <h2>Navigacijska traka</h2>
    <img :src="require('@/assets/img/sl7.png')"/>
    <p>Navigacijska traka <i>(breadcrumbs)</i> prikazuje trenutačni položaj u sustavu te omogućuje jednostavnije kretanje po sustavu i lakše vraćanje na hijerarhijski više stranice.</p>
    <h2>Izbornik za administraciju e-kolegija</h2>
    <img :src="require('@/assets/img/sl8.png')"/>
    <p>Izbornik sadrži sve funkcionalnosti koje se odnose na administriranje e-kolegija, a dostupne su u bloku <b>Administracija</b>.</p>
    <h2>Blokovi</h2>
    <p>
        <b>Blokovi</b> su moduli koji se koriste za organizaciju e-kolegija ili prikaz željenoga sadržaja, a postavljaju se u lijevi stupac.
         Na stranici <b>Moja naslovnica</b>, u bloku <b>Pregled e-kolegija</b> nalazi se popis e-kolegija u koje je korisnik upisan. 
         U bloku su dostupna tri izbornika putem kojih je moguće:
    </p>
        <p>
            <ul>
                <li>sortirati e-kolegije prema odabranim kriterijima (u tijeku, buduće, prošlo, označeno zvjezdicom ili skriveno)</li>
                <li>sortirati prema zadnjem pristupu ili abecedno prema nazivu e-kolegija</li>
                <li>odabrati različiti prikaz e-kolegija (kartični prikaz, prikaz u obliku popisa ili s prikazom sažetka e-kolegija).</li>
            </ul>
        </p>
        <p>
        <img :src="require('@/assets/img/sl9.png')"/><br>
            <i>Blok Pregled e-kolegija</i></p>
            <p>
        <img :src="require('@/assets/img/sl10.png')"/><br>
        <i>Dodavanje novih blokova</i>
            </p>
            <p>
                Nakon što se u sučelju omoguće izmjene, novi blok je moguće dodati odabirom poveznice <b>Dodaj blok</b> iz navigacijskog izbornika. 
            </p>
            <p>
                Manji broj blokova unaprijed je definiran i ne može se mijenjati, dok se većina blokova može dodavati ovisno o potrebama e-kolegija.
            </p>
            <p>
                Blokovi se mogu pomicati, potpuno izbrisati, smanjiti na veličinu naslova ili učiniti (ne)vidljivima sudionicima. Svaki blok ima određenu funkciju i samo se rijetki mogu dodati više puta (npr. blok HTML).
            </p>
           
    </v-container>
</template>