<template>

    <v-container fluid>


   <p> <b>SUMoodle</b> je sustav za e-učenje koji je uspostavljen, razvija se i održava u Centru za informacijske tehnologije Sveučilišta u Mostaru
     kao zajednička, svima dostupna platforma za projekte primjene e-učenja u sveučilišnoj nastavi.</p>

<p>SUMOODLE se temelji na programskome sustavu otvorenoga kôda Moodle (<a href="http://moodle.org">http://moodle.org</a>). Trenutačna inačica sustava Moodle na kojoj se temelji sustav SUMoodle je 3.7.</p>

<p>Standardna instalacija sustava Moodle dorađena je i izmijenjena u pojedinim dijelovima te nadopunjena nestandardnim modulima pa se funkcionalnosti pojedinih resursa, aktivnosti ili blokova mogu razlikovati od standardnih.</p>
<h2>
    Zašto sustav SUMoodle?
</h2>
<p>
   Danas se sve više nastavnika, uz klasične oblike nastave, koristi tehnologijom e-učenja kao sredstvom za bolje i kvalitetnije praćenje ostvarenosti ishoda
    e-učenja. Neki će nastavnici prednosti sustava SUMoodle vidjeti u njegovoj uporabi za e-kolegije s manjim brojem studenata (npr. na poslijediplomskim i
     doktorskim studijima), a drugi će se sustavom koristiti jer omogućava bolju organizaciju nastavnih sadržaja, studenata i grupa sa svim podatcima na
      jednome mjestu za kolegije s velikim brojem studenata. Mogu se otvoriti forumi na kojima će studenti raspravljati o zadanim temama, može se omogućiti
       predaja zadaća i seminarskih radova online, u sustav se mogu postaviti ocjene studenata (iz zadataka, kolokvija i praktikuma tijekom semestra) tako da 
       student ima uvid u svoje ocjene i zadatke te da u svakome trenutku zna što još treba odraditi). 
</p>
<p>
    Odabir oblika i intenziteta e-učenja prepušta se ustanovama iz visokoga obrazovanja i znanosti te nastavnicima koji trebaju prepoznati
     i primijeniti onaj oblik e-učenja koji je primjeren njihovome području obrazovanja odnosno konkretnome studiju ili kolegiju.
</p>
<p>
    Ovisno o intenzitetu i načinu korištenja Informacijske i komunikacijske tehnologije (ICT) razlikujemo nekoliko oblika e-učenja:
    
</p>
<p>
    <ul>
        <li>klasična nastava – nastava u učionici</li>
        <li>nastava uz pomoć ICT-a – tehnologija u službi poboljšanja klasične nastave</li>
        <li>hibridna ili mješovita nastava – kombinacija nastave u učionici i nastave uz pomoć tehnologija</li>
        <li><i>online</i> nastava – nastava je uz pomoć ICT-a u potpunosti organizirana na daljinu.</li>
    </ul>
</p>
<p>
    Fleksibilnost vremena i mjesta učenja, komunikacija preko e-pošte i foruma nastavnika i studenata, ali i komunikacija među studentima,
     dostupnost svih podataka i obavijesti vezanih uz kolegij na jednome mjestu, mogućnost predaje seminarskih zadataka i drugih radova kroz sustav samo su neke od prednosti
      koje pogoduju i studentima i profesorima koji tako mogu više i bolje komunicirati te lakše i jednostavnije odrediti tempo i način rada u kolegiju.
</p>
<h2>
    Što te skupine alata znače za nastavnika i studenta u sustavu SUMoodle?
</h2>
<p>
Alati za <b>prezentaciju</b> omogućavaju da nastavnik sve nastavne materijale (tekstne, slikovne i audiovizualne) jednostavno postavlja u sustav 
i tako ih čini uvijek raspoloživima studentima. Također, nastavnik u sustav može stavljati sve obavijesti u svezi kolegija kao što su plan i program rada, 
osnovne informacije o kolegiju, ishod učenja, literaturu, raspored održavanja nastave i ocjene.
</p>
<p>
Prednost je sustava za e-učenje i mogućnost olakšane <b>komunikacije</b> sa studentima i među studentima. Kao alate za komunikaciju nastavnik može rabiti forum, chat, dijalog 
i poruke u sustavu. Dok je forum primjer asinkrone komunikacije, nastavnik može otvoriti chat ili dijalog za online konzultacije ili za rasprave o određenim najavljenim terminima, 
a koje se odvijaju u realnome vremenu (sinkrona komunikacija).
</p>
<p>
Alati za <b>provjeru znanja</b> mogu biti korisni i nastavniku i studentima. Nastavnik može pratiti kako su i koliko studenti do određenoga trenutka usvojili
 obrađeno gradivo (pitanja, kolokviji), može provesti završne testove
 ili omogućiti studentima samoprovjeru usvojenoga znanja. U sustavu SUMoodle postoje različite vrsta pitanja i načini provedbe testa.
</p>
<p>
Alati za <b>vrednovanje</b> omogućuju nastavnicima olakšano ocjenjivanje rada studenata u sustavu.
 Nastavnici se mogu koristiti skalama i kategorijama ocjena, uređivati ocjene, njihov izračun i prikaz te ih uvesti u sustav. 
 Za dodatnu motivaciju postoji mogućnost dodjeljivanja znački studentima za postignuća ili odrađene zadatke.
</p>
<p>
I na kraju, postoje alati za <b>administraciju</b>, koji omogućavaju upravljanje datotekama i sudionicima (studentima, demonstratorima, asistentima),
 te statistika korisnika, koja daje uvid u to koliko su sudionici bili aktivni tijekom kolegija te koje su aktivnosti i resurse u sustavu pratili.
</p>
</v-container>
</template>
<script>
export default {
    
}
</script>