<template>
  <v-card height="150">
    <v-footer
      absolute
      class="font-weight-medium"
    >
      <v-col
        class="text-center"
        cols="12"
      >
        {{ new Date().getFullYear() }} — <strong>SUMIT</strong>
      </v-col>
    </v-footer>
  </v-card>
</template>
<script>
export default {
    
}
</script>