<template>
  
    <v-navigation-drawer
        
      expand-on-hover
      permanent
      right
      app
      clipped
    >
      <template v-slot:prepend>
        
      </template>

      <v-divider></v-divider>

      <v-list
        nav
        dense
        
      >
        <v-list-item link
         nav
        dense
        
          >
         
          <v-list-item-title></v-list-item-title>
        </v-list-item>
       
      </v-list>
    </v-navigation-drawer>





 
</template>
<script>

export default {
 
  data() {
    
    return {
      
    }
  },
  
  methods: {
 
  },
  
 
  }



</script>