<template>
  <v-card>
    <v-navigation-drawer
        
      expand-on-hover
      clipped
      permanent
      app
    >
      <template v-slot:prepend>
        
      </template>

      <v-divider></v-divider>

      <v-list
        nav
        dense
        v-for="(item, i) in items"
          :key="i"
        
          
      >
        <v-list-item link >
          <v-list-item-title
          
           >{{item.title}}</v-list-item-title>
        </v-list-item>
      </v-list>
        
    </v-navigation-drawer>





  </v-card>
</template>
<script>

export default {
    data(){
        return {
            items: [
        {
          id:'1',
          icon: 'apps',
          title: 'Welcome',
          to: '/'
        },
        {
          id: '2',
          icon: 'bubble_chart',
          title: 'SUMOODLE Priručnik za nastavnike',
          to: '/Moodle/SUMOODLE',
          list: [
            {
              name: 'Sustav za e-učenje SUMOODLE',
              to: '/moodle/1',
              sub: [
                {
                  name: 'Prijava u sustav',
                  to: '/Moodle/1'
                },
                {
                  name: 'Korisničko sučelje',
                  to: ''
                },{
                  name: 'Promjena osobnih podataka',
                  to: ''
                },
                {
                  name: 'Pomoć korisnicima',
                  to: ''
                },
                
              ]
            },
            {
              name: 'E-kolegij',
              to: '/moodle/2',
              sub: [
                {
                  name: 'Organizacija e-kolegija',
                  to: ''
                },
                {
                  name: 'Zahtjev za novim e-kolegijem',
                  to: ''
                },
                {
                  name: 'Odabir postojećega e-kolegija',
                  to: ''
                },
                {
                  name: 'Arhiva e-kolegija',
                  to: ''
                },
                {
                  name: 'Administracija e-kolegija',
                  to: ''
                },
                {
                  name: 'Upis u e-kolegij',
                  to: ''
                },
                {
                  name: 'Objava novosti',
                  to: ''
                },
              ]
            },
            {
              name: 'Korisnici e-kolegija',
              to: '/moodle/3',
              sub: [
                {
                  name: 'Uloge',
                  to: ''
                },
                {
                  name: 'Upis korisnika u e-kolegij',
                  to: ''
                },
                {
                  name: 'Grupe: uređivanje i upravljanje',
                  to: ''
                },
                {
                  name: 'Korisnici online',
                  to: ''
                },
                {
                  name: 'Komunikacija u sustavu SUMOODLE',
                  to: ''
                },
              ]
            },
            {
              name: 'Zajedničke postavke blokova, resursa i aktivnosti',
              to: '',
              sub: [
                {
                  name: 'Uređivanje sadržaja e-kolegija',
                  to: "",
                },
                {
                  name: 'Alati za uređivanje teksta',
                  to: '',
                },
                {
                  name: 'Administracija datoteka',
                  to: '',
                },
                {
                  name: 'Mogućnost povuci i ispusti (Drag&Drop)',
                  to: '',
                },
                {
                  name: 'Ograničenje dostupnosti resursa/aktivnosti',
                  to: '',
                },
                {
                  name: 'Popis aktivnosti i resursa u e-kolegiju',
                  to: '',
                },
                {
                  name: 'Tagovi',
                  to: '',
                },
              ]
            },
            {
              name: 'Blokovi',
              to: '',
              sub: [
                {
                  name: 'Dodavanje blokova',
                  to: ''
                },
                {
                  name: 'Upravljanje blokovima',
                  to: ''
                },
                {
                  name: 'HTML blok',
                  to: ''
                },
                {
                  name: 'Kalendar',
                  to: ''
                },
              ]
            },
            {
              name: 'Resursi',
              to: '',
              sub: [
                {
                  name: 'Oznaka',
                  to: ''
                },
                {
                  name: 'Stranica',
                  to: ''
                },
                {
                  name: 'Poveznica',
                  to: ''
                },
                {
                  name: 'Datoteka',
                  to: ''
                },
                {
                  name: 'Mapa',
                  to: ''
                },
                {
                  name: 'Knjiga',
                  to: ''
                },
              ]
            },
            {
              name: 'Aktivnosti',
              to: '',
              sub: [
                {
                  name: 'Chat',
                  to: ''
                },
                {
                  name: 'Dijalog',
                  to: ''
                },
                {
                  name: 'Forum',
                  to: ''
                },
                {
                  name: 'Rječnik',
                  to: ''
                },
                {
                  name: 'H5P',
                  to: ''
                },
                {
                  name: 'Wiki',
                  to: ''
                },
                {
                  name: 'Zadaća',
                  to: ''
                },
                {
                  name: 'Mapa studenta',
                  to: ''
                },
                {
                  name: 'Anketa',
                  to: ''
                },
                {
                  name: 'Odabir',
                  to: ''
                },
                {
                  name: 'Aktivni kviz',
                  to: ''
                },
                {
                  name: 'Prisutnost',
                  to: ''
                },
                {
                  name: 'Planer',
                  to: ''
                },
                {
                  name: 'Lekcija',
                  to: ''
                },
                {
                  name: 'Baza podataka',
                  to: ''
                },
                {
                  name: 'Popis',
                  to: ''
                },
              ],
            },
            {
          name: "Izrada pitanja za testove",
          to: "",
          sub: [
            {
              name: 'Višestruki odabir',
              to: ''
            },
            {
              name: 'Isključivi višestruki odabir',
              to: ''
            },
            {
              name: 'Točno/netočno',
              to: ''
            },
            {
              name: 'Kratki odgovor',
              to: ''
            },
            {
              name: 'Brojčano pitanje',
              to: ''
            },
            {
              name: 'Uparivanje odgovora',
              to: ''
            },
            {
              name: 'Uparivanje povuci i ispusti (Drag&Drop)',
              to: ''
            },
            {
              name: 'Odabir riječi koje nedostaju',
              to: ''
            },
            {
              name: 'Prenesi i postavi u tekst',
              to: ''
            },
            {
              name: 'Prenesi i postavi na sliku',
              to: ''
            },
            {
              name: 'Prenesi i postavi markere',
              to: ''
            },
            {
              name: 'Umetanje riječi koje nedostaju (Cloze)',
              to: ''
            },
            {
              name: 'Umetanje riječi (Gapfill)',
              to: ''
            },
            {
              name: 'Esej',
              to: ''
            },
            {
              name: 'Računska pitanja',
              to: ''
            },
            {
              name: 'Formulas',
              to: ''
            },
          ]
        },
        {
          name: "Test",
          to: ""
        },
        {
          name: "Ocjene",
          to: "",
          sub: [
            {
              name: "Izrada stavke za ocjenjivanje",
              to: ""
            },
            {
              name: "Izrada kategorije",
              to: ""
            },
            {
              name: "Dodavanje nove skale",
              to: ""
            },
            {
              name: "Izračun ukupne ocjene e-kolegija",
              to: ""
            },
            {
              name: "Prikaz ocjena",
              to: ""
            },
            {
              name: "Dodavanje slovnih ocjena",
              to: ""
            },
            {
              name: "Uvoz ocjena",
              to: ""
            },
          ]
        },
        {
          name: "Ishodi učenja",
          to: ""
        },
        {
          name: "Izvještaji",
          to: "",
          sub: [
            {
              name: "Dovršenost e-kolegija",
              to: ""
            },
            {
              name: "Dovršenost aktivnosti",
              to: ""
            }
          ]
        },
        {
          name: "Sigurnosna kopija",
          to: "",
          sub: [
            {
              name: "Izrada sigurnosne kopije",
              to: ""
            },
            {
              name: "Unos podataka iz sigurnosne kopije (Restore e-kolegija)",
              to: ""
            },
            {
              name: "Kopiranje modula iz drugoga e-kolegija (Uvoz)",
              to: ""
            },
          ]
        }

          ],     
          
        },
        
        
      ],
      
        }
    },     
      
      }

    
        
      
    
    
    


</script>