<template>
    <v-container>
        <p>
            Korisnike unutar e-kolegija (i studente i nastavnike) moguće je podijeliti u grupe kako bi nastavnik, primjerice, omogućio određenoj grupi studenata predaju zadaće ili pristup materijalima kojima druga grupa ne može pristupiti.
        </p>
        <p>
            Ako je korisnik u ulozi izvođača e-kolegija postavljen u određenu grupu, on može bez obzira na ograničenja grupe kojoj je dodijeljen raditi sve aktivnost koje su tom ulogom određene, no korisnici u ulogama online asistent i demonstrator imat će pristup
            samo aktivnostima za svoju grupu.
        </p>
        <p>
            Za dodavanje novih grupa kao i korisnika u grupe odaberite:
        </p>
        <p>
            <i>Administracija → Administracija e-kolegija → Korisnici →</i> <b>Grupe</b>.
        </p>
        <img :src="require('@/assets/img/sl39.png')" /><br>
        <i>Uređivanje grupa</i>
        <p>
            Novu grupu moguće je dodati i kroz sučelje s prikazom sudionika (<i>Sadržaj</i> → <b>Sudionici</b>) odabirom poveznice <b>Grupe</b> iz izbornika za administraciju e-kolegija.
        </p>
        <p>
            Za početak je potrebno izraditi novu grupu i urediti njezine postavke.
        </p>
        <p>
            Odabirom gumba <b>Izradi grupu</b> omogućen je pristup postavkama grupe kojoj se upisuje naziv te joj se prema potrebi dodaju kratak opis, lozinka i slika.
        </p>
        <p>
            Postavljanjem mogućnosti <b>Slanje poruka unutar grupe</b> na <b>Da</b> članovima grupe omogućeno je slanje grupnih poruka u sustavu.
        </p>
        <p>
            Slike grupa prikazuju se kod pojedinih aktivnosti, npr. u forumu, gdje se uz sliku profila pojedinoga korisnika prikazuje i slika grupe.
        </p>
        <p>
            Slika u forumu ujedno je i poveznica na popis sudionika u toj grupi. Popis je dostupan ostalim studentima odabirom poveznice <b>Sudionici</b> u padajućem izborniku <b>Sadržaj</b> na traci s izbornicima ili odabirom istoimene poveznice iz bloka
            <i>Administracija → Administracija e-kolegija → </i><b>Korisnici</b>, ako su u e-kolegiju grupe postavljene kao vidljive.
        </p>
        <p>
            Preporuka je da slike budu u formatima .png i .jpeg.
        </p>
        <img :src="require('@/assets/img/sl40.png')" /><br>
        <i>Postavke grupe</i>
        <p>
            Nakon izrade grupe u nju se mogu upisati korisnici.
        </p>
        <p>
            Grupa se označi i odabere se gumb <b>Dodaj/Ukloni korisnike</b>. Označeni se korisnici iz stupca <b>Potencijalni članovi</b> pomoću gumba <b>Dodaj</b> prebacuju u stupac <b>Trenutni članovi</b> i time automatski postaju članovi te grupe.
        </p>
        <p>
            Za označavanje korisnika mogu se rabiti tipke [Ctrl] ili [Shift] kao i u drugim aplikacijama.
        </p>
        <p>
            Slično se korisnici izdvajaju iz grupe. Označeni se korisnici iz stupca <b>Trenutni članovi</b> odabirom dugmeta <b>Ukloni</b> prebacuju u stupac <b>Potencijalni članovi</b> i time prestaju biti članovi grupe.
        </p>
        <p>
            Svaki korisnik može biti član više različitih grupa, a broj u zagradama označava broj članova u pojedinoj grupi, odnosno broj grupa u koje je korisnik upisan.
        </p>
        <img :src="require('@/assets/img/sl41.png')" /><br>
        <i>Odabir korisnika</i>
        <h2>Izrada grupacija i dodjela uloga</h2>
        <p>
            Grupe se mogu organizirati (grupirati) u <b>Grupacije</b>. Grupacije omogućavaju ograničavanje pristupa određenoj aktivnosti/resursu na točno određenu grupu korisnika e-kolegija.
        </p>
        <img :src="require('@/assets/img/sl42.png')" /><br>
        <i>Prikaz grupa u grupaciji</i>
        <p>
            Za dodjelu grupe u grupaciju potrebno je odabrati ikonu <img :src="require('@/assets/img/sl43.png')" /> (Prikaži grupe u grupacijama) gdje se u desnome stupcu nalazi popis svih grupa u e-kolegiju, a u lijevome popis grupa koje su već dodijeljene
            toj grupaciji. Označavanjem grupe u desnome stupcu i odabirom gumba <b>Dodaj</b> grupa se dodjeljuje toj grupaciji i pojavljuje u lijevome stupcu.
        </p>
        <img :src="require('@/assets/img/sl44.png')" /><br>
        <i>Dodavanje ograničenja</i>
        <img :src="require('@/assets/img/sl45.png')" /><br>
        <i>Dodavanje ograničenja Grupacija na aktivnost</i>
        <p>
            Određena aktivnost/resurs bit će vidljiva samo ograničenom broju korisnika e-kolegija tek kada se u postavkama u polju
            <b>Ograniči dostupnost</b> odabere mogućnost <i>Dodaj ograničenje</i> → <b>Grupacija</b> te odabere grupacija kojoj je namijenjena. Korisnicima izvan te grupacije ta aktivnost ili resurs neće biti vidljivi.
        </p>
        <img :src="require('@/assets/img/sl46.png')" /><br>
        <i>Kartica</i> <b>Pregled</b> <i>kod izrade grupa i grupacija</i>
        <p>
            Kartica <b>Pregled</b> prikazuje popis svih grupa i grupacija zajedno s njihovim članovima te ukupnim brojem članova u pojedinoj grupi.
        </p>
        <h2>Podjela cijeloga e-kolegija u grupe</h2>
        <p>
            Nakon izrade grupa u e-kolegiju te upisa studenata u njih, postoji mogućnost podjele cijeloga e-kolegija u grupe.
        </p>
        <p>
            Podjela e-kolegija u grupe omogućava nastavniku da se aktivnosti odvijaju u grupama dok će pristup resursima moći ograničiti na pojedinu grupaciju studenata.
        </p>
        <p>
            Odabirom <b>Vidljivih grupa</b> studenti izvan odabrane grupe pojedine aktivnosti bit će u mogućnosti vidjeti sadržaj te aktivnosti no ne i sudjelovati u njoj. Odabirom <b>Odvojenih grupa</b> studenti uopće ne vide izrađene aktivnosti koje nisu
            za njihovu grupu.
        </p>
        <p>
            Primjerice, prilikom izrade nove rasprave u forumu, nudi se mogućnost odabira grupe studenata kojima će poruka biti poslana.
        </p>
        <p>
            Prednost takvoga oblika e-kolegija je, primjerice ako u istom e-kolegiju postoje grupe redovni i izvanredni studenti, olakšana komunikacija nastavnika s određenom grupom kao i dodjela zadataka njima.
        </p>
        <p>
            Grupni oblik e-kolegija od nastavnika traži pažljivo planiranje aktivnosti i organizaciju e-kolegija. Svi studenti moraju pripadati nekoj grupi, inače uopće nemaju pristup pojedinoj aktivnosti. Preporuča se u pojedinoj aktivnosti napomenuti za koju je
            grupu izrađena kako studenti koji su u drugoj grupi, a mogu vidjeti sadržaje ostalih, ne bi bili u nedoumici zbog nemogućnosti aktivnoga rada u toj aktivnosti.
        </p>
        <img :src="require('@/assets/img/sl47.png')" /><br>
        <i>Podjela e-kolegija u grupe</i>
        <p>
            U postavkama e-kolegija u polju <b>Grupni oblik</b> moguće je e-kolegij podijeliti na odvojene i vidljive grupe.
        </p>
        <p>Vrste grupa</p>
        <ul>
            <li>
                <b>Nema grupa</b> – nema razlike među korisnicima
            </li>
            <li>
                <b>Odvojene grupe</b> – svaka grupa radi odvojeno i nema pristup rezultatima drugih grupa
            </li>
            <li>
                <b>Vidljive grupe</b> – aktivnosti se odvijaju u grupama, ali su svi rezultati vidljivi i korisnicima izvan tih grupa.
            </li>
        </ul>
        <p>
            Ako je grupni način rada zadan na razini cijelog e-kolegija tada će sve aktivnosti izrađene u e-kolegiju automatski biti podijeljene u grupe. Ako je odabrano <b>Ne</b> kod izbora <b>Prisili na grupni oblik</b>, svakoj se pojedinoj aktivnosti može
            odrediti (ne)uporaba grupa.
        </p>
        <p>
            U polju <b>Zadana grupacija</b> odabire se grupacija za koju će biti dostupan e-kolegij (prethodno trebaju biti izrađene grupacije i dodijeljene grupe unutar njih).
        </p>
        <h2>
            Podjela pojedinih aktivnosti u grupe
        </h2>
        <p>
            Kada nastavnik želi, može pojedine aktivnosti u e-kolegiju učiniti dostupnima samo određenoj grupi studenata. Grupe u e-kolegiju pa tako i grupne aktivnosti najčešće prate grupne aktivnosti iz učioničke nastave toga kolegija. Ovakva podjela u e-kolegiju
            može biti korisna prilikom korištenja aktivnosti <b>Prisutnost</b> gdje primjerice svim studentima nije obaveza dolaska na jednak broj predavanja ili popis tema u aktivnosti <b>Odabir</b> koje nisu jednake za sve studente.
        </p>
        <p>
    Razlika između grupa i grupacija prilikom dodjeljivanja aktivnosti je u tome da unutar jedne grupacije kojoj je aktivnost dostupna može biti više grupa koje mogu biti vidljive ili odvojene te je samo tim grupama aktivnost dostupna, dok grupama izvan te grupacije nije.
        </p>
        <p>
    ko u postavkama e-kolegija polje <b>Prisili na grupni oblik </b>postavimo na <b>Da</b>, aktivnosti u e-kolegiju bit će unaprijed podijeljene u grupe te će se moći izabrati samo grupacija iz e-kolegija za čije grupe će aktivnost biti dostupna.
        </p>
        <p>
    Za dodjeljivanje svake aktivnosti grupi po želji, u postavkama e-kolegija polje <b>Prisili grupni oblik</b> postavimo na <b>Ne</b>.
        </p>
        <img :src="require('@/assets/img/sl48.png')" /><br>
        <i>Podjela aktivnosti u grupe</i>
        <p>
U postavkama svake aktivnosti, <b>Zajedničke postavke modula</b> omogućuju postavljanje vrsta grupa i grupacije kojoj će biti dostupna ta aktivnost.
        </p>
        <p>
   Polje <b>Dostupnost</b> omogućava postavljanje aktivnosti vidljivom na naslovnici e-kolegija, skrivenom za studente ili postavljanje dostupnom bez da se prikazuje na naslovnici e-kolegija.             
        </p>
        <p>
         Vrstu grupe (vidljive ili odvojene) odabiremo u padajućem izborniku u polju <b>Grupni oblik</b>.       
        </p>
        <p>
   Kako bi aktivnost bila dostupna jedino studentima koji su raspoređeni u grupu unutar odabrane grupacije potrebno je u postavkama
    aktivnosti u polju <b>Ograniči dostupnost</b> odabrati mogućnost <i>Dodaj ograničenje</i> → <b>Grupacija</b> te odabrati grupaciju kojoj je namijenjena.             
        </p>
        <h2>
                Podjela resursa u grupacije
        </h2>
        <p>
esursi unutar e-kolegija također se mogu postaviti dostupnima određenoj grupi studenata.
        </p>
        <p>
          Razlika dostupnosti resursa grupama unutar grupacije s obzirom na aktivnosti unutar e-kolegija je mogućnost postavljanja grupacije kojoj je resurs dostupan, dok vrstu grupnog oblika (vidljive ili odvojene grupe) nije moguće postaviti (nema razlike među korisnicima).      
        </p>
        <p>
         Ako je u postavkama kolegija određen grupni način rada i opcija <b>Prisili na grupni oblik rada</b> postavljena na <b>Da</b>, resursi su i dalje dostupni svim studentima.       
        </p>
        <p>
         Kako bi resurs bio dostupan jedino studentima koji su raspoređeni u grupe unutar grupacije,
          potrebno je u postavkama resursa u polju <b>Ograniči dostupnost</b> odabrati mogućnost <i>Dodaj ograničenje</i> → <b>Grupacija</b>
           te odabrati grupaciju kojoj je namijenjena.       
        </p>
        <img :src="require('@/assets/img/sl49.png')" /><br>
        <i>Podjela resursa u grupacije</i>
    </v-container>
</template>