<template>
    <v-container fluid>
<img :src="require('@/assets/img/sl49.png')" /><br>
        <i>Blok Korisnici <i>online</i> unutar e-kolegija</i>
        <p>
            Na početnoj stranici sustava SUMoodle, nakon prijave,
             u bloku <b>Korisnici <i>>online</i></b> prikazuje se samo ukupni broj aktivnih korisnika na sustavu, 
             a nakon ulaska u pojedini e-kolegij vidljiv je i popis aktivnih korisnika toga e-kolegija.
        </p>
        <p>
            Popis trenutačno aktivnih korisnika u e-kolegiju (u posljednjih 5 minuta) nalazi se u lijevome stupcu u bloku <b>Korisnici <i>>online</i></b>.
             Odabirom ikone oka pored svojeg imena i prezimena svaki korisnik može sakriti svoj <i>online </i>status od drugih korisnika.
        </p>
    </v-container>
</template>