<template>
    <v-container fluid>
        <h2>Korisnici sustava za e-učenje SUMoodle</h2>
        <p><b>Korisnici</b>: svi koji pristupe sustavu, bez obzira na prijavu</p>
        <p><b>Sudionici</b>: upisani korisnici u pojedini e-kolegij</p>
        <p><b>Nastavnici</b>: nositelji kolegija i suradnici u izvođenju e-kolegija</p>
        <p><b>Studenti</b>: prijavljeni korisnici s ulogom studenta</p>
        <p><b>Gost</b>: neprijavljeni korisnik</p>
    </v-container>
</template>