<template>
    <v-container fluid>
        <p>
            Za dodavanje uloga odaberite: Administracija → Administracija e-kolegija → Korisnici → <b>Upis korisnika</b>
             ili iz izbornika za administraciju e-kolegija poveznicu <b>Opširnije …</b> te potom iz kartice <b>Korisnici</b> poveznicu <b>Upis korisnika.</b>
        </p>
        <p>
            Uloge u sustavu za e-učenje SUMoodle odgovaraju razini ovlasti koje sudionik ima u određenomu e-kolegiju.
             Svaki korisnik može dodjeljivati samo one uloge koje su za barem jednu razinu niže od vlastite uloge.
        </p>
        <table>
            <tr>
                <th>
                    Uloga
                </th>
                <th>
                    Ovlasti
                </th>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    
                </td>
            </tr>
        </table>
    </v-container>
</template>