<template>
    <v-container fluid>
        <p>
Korisnici se prijavljuju u sustav SUMoodle elektroničkim identitetom u sustavu AAI@SUM. Nakon prve prijave vidljivi su na popisu te ih nastavnik može pojedinačno upisati u e-kolegij.
        </p>
        <p>
Postoji mogućnost upisa više korisnika odjednom, a korisnici se mogu i samostalno upisati u e-kolegij.
        </p>
        <p>
Više u poglavlju Upis u e-kolegij
        </p>
    </v-container>
</template>