<template>
    <v-app>
    
        <v-content>
    
            <v-app-bar app color="primary" dark prominent clipped-left clipped-right>
    
                <router-link to="/"><img alt="SUMIT logo" contain :src="require('@/assets/sumit.svg')" transition="scale-transition" style="width:160px" /></router-link>
                <v-spacer></v-spacer> Javna dokumentacija usluga SUMIT-a
                <v-spacer></v-spacer>
            </v-app-bar>
        </v-content>
    
    
        <v-card>
            <v-navigation-drawer clipped permanent app>
    
                <!-- Lijevi drawer -->
    
                <v-list nav dense v-for="(item, i) in items" :key="i">
                    <router-link :to="item.to" class="menu">
                        <v-list-item @click="selekcija(item.list), naslovadd(item.title)">
    
                            <v-list-item-title class="d-block text-truncate">{{item.title}}</v-list-item-title>
    
                        </v-list-item>
                    </router-link>
                </v-list>
    
            </v-navigation-drawer>
    
        </v-card>
    
        <template>
                        <v-content class="glavno">
                           
                            <v-container fluid>
                                
                                <h1>{{naslov}}</h1>    
                                <v-card>
                                     
                    <router-view></router-view>
                                </v-card>
                            </v-container>
                        </v-content>
</template>
            <!-- Desni drawer -->
        <v-content >
            <v-navigation-drawer expand-on-hover right app clipped class="py-0"> 
                <v-list nav dense v-for="(item, i) in desniDock" :key="i" class="d-inline-block truncate-text" >
    
                    <v-list-group link dense no-action>
<template v-slot:activator>
    <router-link :to="item.to" class="menu">
        <v-list-item-title @click="naslovadd(item.name)">
    
            {{item.name}}
        </v-list-item-title>
    </router-link>
</template>

         <v-list sub-group link nav dense>
           <v-list-item v-for="(item, i) in item.sub" :key="i" link >
             <v-list-item-content >
             <v-list-item-title @click="naslovadd(item.name)" ><router-link :to='item.to' class="menu">{{item.name}}</router-link></v-list-item-title>
             
             </v-list-item-content>
           </v-list-item>
         </v-list>
        </v-list-group>
       
      </v-list>
    </v-navigation-drawer>
    </v-content>
    <v-content>
    <Footer/>
     
    </v-content>
    
  </v-app>
   
</template>

<script>
import Footer from './components/Footer';

export default {
    name: 'App',
    components: {
        Footer
    },
    data() {
        return {
            items: [{
                    id: '1',
                    icon: 'apps',
                    title: 'Početna stranica',
                    to: '/'
                },
                {
                    id: '2',
                    icon: 'bubble_chart',
                    title: 'SUMOODLE Priručnik za nastavnike',
                    to: '/SUMoodle',
                    list: [{
                            name: 'Sustav za e-učenje SUMOODLE',
                            to: '/SUMoodle/SUMoodle/sustav',
                            sub: [{
                                    name: 'Prijava u sustav',
                                    to: '/SUMoodle/SUMoodle/prijava'
                                },
                                {
                                    name: 'Korisničko sučelje',
                                    to: '/SUMoodle/SUMoodle/sucelje'
                                }, {
                                    name: 'Promjena osobnih podataka',
                                    to: '/SUMoodle/SUMoodle/osobniPodaci'
                                },

                            ]
                        },
                        {
                            name: 'E-kolegij',
                            to: '/SUMoodle/E-kolegij',
                            sub: [{
                                    name: 'Organizacija e-kolegija',
                                    to: '/SUMoodle/E-kolegij/Organizacija',
                                },
                                {
                                    name: 'Zahtjev za novim e-kolegijem',
                                    to: '/SUMoodle/E-kolegij/odabirkolegija'
                                },


                                {
                                    name: 'Administracija e-kolegija',
                                    to: '/SUMoodle/E-kolegij/administracija'
                                },
                                {
                                    name: 'Upis u e-kolegij',
                                    to: ''
                                },
                                {
                                    name: 'Objava novosti',
                                    to: '/SUMoodle/E-kolegij/objavanovosti'
                                },
                            ]
                        },
                        {
                            name: 'Korisnici e-kolegija',
                            to: '/SUMoodle/korisnici',
                            sub: [{
                                    name: 'Uloge',
                                    to: '/SUMoodle/korisnici/uloge'
                                },
                                {
                                    name: 'Upis korisnika u e-kolegij',
                                    to: '/SUMoodle/korisnici/upis'
                                },
                                {
                                    name: 'Grupe: uređivanje i upravljanje',
                                    to: '/Sumoodle/korisnici/grupe'
                                },
                                {
                                    name: 'Korisnici online',
                                    to: '/Sumoodle/korisnici/korisnicionline'
                                },
                                {
                                    name: 'Komunikacija u sustavu SUMOODLE',
                                    to: ''
                                },
                            ]
                        },
                        {
                            name: 'Zajedničke postavke blokova, resursa i aktivnosti',
                            to: '/SUMoodle/Zajednicke/zajednicke',
                            sub: [{
                                    name: 'Uređivanje sadržaja e-kolegija',
                                    to: "/SUMoodle/Zajednicke/uredjivanje",
                                },
                                {
                                    name: 'Alati za uređivanje teksta',
                                    to: '/SUMoodle/Zajednicke/AlatiZaUredjivanje',
                                },
                                {
                                    name: 'Administracija datoteka',
                                    to: '/SUMoodle/Zajednicke/AdministracijaDatoteka',
                                },
                                {
                                    name: 'Mogućnost povuci i ispusti (Drag&Drop)',
                                    to: '/SUMoodle/Zajednicke/Drag&Drop',
                                },
                                {
                                    name: 'Ograničenje dostupnosti resursa/aktivnosti',
                                    to: '/SUMoodle/Zajednicke/Ogranicenjedostupnosti',
                                },
                                {
                                    name: 'Popis aktivnosti i resursa u e-kolegiju',
                                    to: '',
                                },
                                {
                                    name: 'Tagovi',
                                    to: '',
                                },
                            ]
                        },
                        {
                            name: 'Blokovi',
                            to: '',
                            sub: [{
                                    name: 'Dodavanje blokova',
                                    to: ''
                                },
                                {
                                    name: 'Upravljanje blokovima',
                                    to: ''
                                },
                                {
                                    name: 'HTML blok',
                                    to: ''
                                },
                                {
                                    name: 'Kalendar',
                                    to: ''
                                },
                            ]
                        },
                        {
                            name: 'Resursi',
                            to: '',
                            sub: [{
                                    name: 'Oznaka',
                                    to: ''
                                },
                                {
                                    name: 'Stranica',
                                    to: ''
                                },
                                {
                                    name: 'Poveznica',
                                    to: ''
                                },
                                {
                                    name: 'Datoteka',
                                    to: ''
                                },
                                {
                                    name: 'Mapa',
                                    to: ''
                                },
                                {
                                    name: 'Knjiga',
                                    to: ''
                                },
                            ]
                        },
                        {
                            name: 'Aktivnosti',
                            to: '',
                            sub: [{
                                    name: 'Chat',
                                    to: ''
                                },
                                {
                                    name: 'Dijalog',
                                    to: ''
                                },
                                {
                                    name: 'Forum',
                                    to: ''
                                },
                                {
                                    name: 'Rječnik',
                                    to: ''
                                },
                                {
                                    name: 'H5P',
                                    to: ''
                                },
                                {
                                    name: 'Wiki',
                                    to: ''
                                },
                                {
                                    name: 'Zadaća',
                                    to: ''
                                },
                                {
                                    name: 'Mapa studenta',
                                    to: ''
                                },
                                {
                                    name: 'Anketa',
                                    to: ''
                                },
                                {
                                    name: 'Odabir',
                                    to: ''
                                },
                                {
                                    name: 'Aktivni kviz',
                                    to: ''
                                },
                                {
                                    name: 'Prisutnost',
                                    to: ''
                                },
                                {
                                    name: 'Planer',
                                    to: ''
                                },
                                {
                                    name: 'Lekcija',
                                    to: ''
                                },
                                {
                                    name: 'Baza podataka',
                                    to: ''
                                },
                                {
                                    name: 'Popis',
                                    to: ''
                                },
                            ],
                        },
                        {
                            name: "Izrada pitanja za testove",
                            to: "",
                            sub: [{
                                    name: 'Višestruki odabir',
                                    to: ''
                                },
                                {
                                    name: 'Isključivi višestruki odabir',
                                    to: ''
                                },
                                {
                                    name: 'Točno/netočno',
                                    to: ''
                                },
                                {
                                    name: 'Kratki odgovor',
                                    to: ''
                                },
                                {
                                    name: 'Brojčano pitanje',
                                    to: ''
                                },
                                {
                                    name: 'Uparivanje odgovora',
                                    to: ''
                                },
                                {
                                    name: 'Uparivanje povuci i ispusti (Drag&Drop)',
                                    to: ''
                                },
                                {
                                    name: 'Odabir riječi koje nedostaju',
                                    to: ''
                                },
                                {
                                    name: 'Prenesi i postavi u tekst',
                                    to: ''
                                },
                                {
                                    name: 'Prenesi i postavi na sliku',
                                    to: ''
                                },
                                {
                                    name: 'Prenesi i postavi markere',
                                    to: ''
                                },
                                {
                                    name: 'Umetanje riječi koje nedostaju (Cloze)',
                                    to: ''
                                },
                                {
                                    name: 'Umetanje riječi (Gapfill)',
                                    to: ''
                                },
                                {
                                    name: 'Esej',
                                    to: ''
                                },
                                {
                                    name: 'Računska pitanja',
                                    to: ''
                                },
                                {
                                    name: 'Formulas',
                                    to: ''
                                },
                            ]
                        },
                        {
                            name: "Test",
                            to: ""
                        },
                        {
                            name: "Ocjene",
                            to: "",
                            sub: [{
                                    name: "Izrada stavke za ocjenjivanje",
                                    to: ""
                                },
                                {
                                    name: "Izrada kategorije",
                                    to: ""
                                },
                                {
                                    name: "Dodavanje nove skale",
                                    to: ""
                                },
                                {
                                    name: "Izračun ukupne ocjene e-kolegija",
                                    to: ""
                                },
                                {
                                    name: "Prikaz ocjena",
                                    to: ""
                                },
                                {
                                    name: "Dodavanje slovnih ocjena",
                                    to: ""
                                },
                                {
                                    name: "Uvoz ocjena",
                                    to: ""
                                },
                            ]
                        },
                        {
                            name: "Ishodi učenja",
                            to: ""
                        },
                        {
                            name: "Izvještaji",
                            to: "",
                            sub: [{
                                    name: "Dovršenost e-kolegija",
                                    to: ""
                                },
                                {
                                    name: "Dovršenost aktivnosti",
                                    to: ""
                                }
                            ]
                        },
                        {
                            name: "Sigurnosna kopija",
                            to: "",
                            sub: [{
                                    name: "Izrada sigurnosne kopije",
                                    to: ""
                                },
                                {
                                    name: "Unos podataka iz sigurnosne kopije (Restore e-kolegija)",
                                    to: ""
                                },
                                {
                                    name: "Kopiranje modula iz drugoga e-kolegija (Uvoz)",
                                    to: ""
                                },
                            ]
                        }

                    ],

                },


            ],
            desniDock: [],
            naslov: '',


        }
    },
    methods: {
        selekcija(x) {
            this.desniDock = x
        },
        naslovadd(x) {
            this.naslov = x
        },

    }

};
</script>

